@use 'variables' as *;
@use 'fonts' as *;
@use 'mixins' as *;

/**
 * Хеадер
 */
.header {
  &__container {
    @include center-flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    margin-bottom: 85px;
  }

  &__slogan {
    margin: 0;
    font-size: $font-size-16;
    font-weight: 700;
  }

  &__title {
    margin: 0;
    font-size: $font-size-title;
    text-align: center;
    line-height: 130%;
    font-weight: 900;
  }

  /**
 * Фильтры
 */
  .filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    column-gap: 12px;
    row-gap: 4px;

    &__btns {
      display: flex;
      flex-wrap: wrap;
      column-gap: 12px;
      row-gap: 4px;
    }
  }

  .filter-btn {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px;
    font-size: $font-size-16;
    font-weight: 700;
    line-height: 150%;
    border: none;
    border-radius: $border-radius-small;
    background-color: transparent;
    color: $font-color-secondary;
    cursor: pointer;
    border: 1px solid transparent;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #ff4242;
    }

    &--active {
      color: #ff4242;
      border-color: #ff4242;
    }

    &__text {
      position: relative;
    }

    &__counter {
      font-size: $font-size-10;
    }
  }

  /**
 * Поиск
 */
  .filters {
    &__search {
      position: relative;
      width: fit-content;
    }

    &__search-icon {
      width: 16px;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }

    &__search-input {
      min-width: 200px;
      max-width: 300px;
      padding: 14px 16px;
      padding-right: calc(16px + 16px + 5px);
      font-size: $font-size-14;
      font-weight: 400;
      border: 1px solid #ddd;
      border-radius: $border-radius-small;

      &::placeholder {
        color: $font-color-secondary;
      }

      &:focus {
        outline-color: $font-color-secondary;
      }
    }
  }
}

/**
 * Курсы
 */
.courses {
  &__grid {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px;
  }

  &__load-more {
    margin: 80px 0px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: $secondary-color;
    cursor: default;

    img {
      width: 20px;
    }
  }

  .course-card {
    border-radius: $border-radius-small;
    border: 1px solid $border-color;
    box-shadow: $shadow-card3;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      box-shadow: $shadow-card4;
    }

    &__image {
      width: 100%;
      height: auto;
      aspect-ratio: 8 / 5;
      flex-shrink: 1;
      object-fit: cover;
      display: block;
    }

    &__content {
      height: fit-content;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 20px;
    }

    &__title {
      font-size: $font-size-20;
      font-weight: 700;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    &__category {
      padding: 1px 8px;
      font-size: $font-size-14;
      font-weight: 400;
      color: $background-color;
      border-radius: $border-radius-small;
    }

    &__footer {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5px;
    }

    &__price {
      font-size: $font-size-18;
      font-weight: 700;
      color: $danger-color;
    }

    &__divider {
      background-color: $font-color-secondary;
      height: $font-size-16;
      width: 1px;
    }

    &__author {
      font-size: $font-size-18;
      font-weight: 400;
      color: $font-color-secondary;
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }
}
