@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('/public/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('/public/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('/public/fonts/Lato-Black.ttf') format('truetype');
}

// Font Variables
$font-family: 'Lato', sans-serif;
$font-size-10: 10px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-title: 46px;
