@use 'media';
@use 'variables' as *;
@use 'fonts' as *;
@use 'mixins' as *;
@use 'components';

body {
  @include center-flex;
  min-height: 100dvh;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: $font-family;
  line-height: 1.5;
  background-color: $background-color;
  color: $font-color;
  flex-direction: column;
}

.header {
  @include center-flex;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 8px;
  flex-direction: column;
  padding-top: 44px;
}

.courses {
  max-width: 1230px;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
